body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  font-family: "Poppins";
  color: #a3abb2;
  background-color: #0c151d;
  padding: 20px, 0px, 40px, 0px;
}

button {
  border: none;
}

#theme {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#box1 {
  display: flex;
  align-items: center;
  gap: 40px;
}

#profile-photo {
  width: 192px;
  height: 192px;
}

#information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#name {
  font-size: 46px;
  font-weight: 500;
  margin: 0;
}
#major {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  text-align: left;
  margin-left: 5px;
}

#social {
  display: flex;
  gap: 26px;
}

#box2 {
  gap: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

#box3 {
  gap: 20px;
}

#CV {
  font-size: 22px;
  font-weight: 500;
  background-color: #fbd144;
  border-radius: 10px;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  height: 80px;
}

#contact {
  font-size: 22px;
  font-weight: 500;
  background-color: white;
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-radius: 10px;
}

#box4 {
  width: 760px;
  background-color: #171f26;
  padding: 12px 24px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#portfolio {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  height: 80px;
  text-align: center;
  border-radius: 10px;
  color: #a3abb2;
  background-color: #0c151d;
}

#skills {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #a3abb2;
  background-color: #171f26;
}
#box5 {
  width: 790px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px, 20px, 20px;
}

#end {
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
}

@media (max-width: 620px) {
  body {
    gap: 30px;
  }

  #theme {
    width: 48px;
    height: 48px;
  }

  #theme svg {
    width: 24px;
    height: 24px;
  }

  #box1 {
    display: flex;
    flex-direction: column;
  }

  #profile-photo {
    width: 124px;
    height: 124px;
  }

  #information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #information h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  #information p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  #box2 {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
  }

  #box3 {
    display: flex;
    gap: 14px;
  }

  #CV {
    font-size: 12px;
    font-weight: 500;
    background-color: #fbd144;
    border-radius: 10px;
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: center;
    height: 44px;
  }

  #contact {
    font-size: 12px;
    font-weight: 500;
    color: #a3abb2;
    background-color: #171f26;
    display: flex;
    min-width: 150px;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 10px;
  }

  #box4 {
    width: 330px;
    background-color: #171f26;
    padding: 5px, 2px, 5px, 2px;
    border-radius: 10px;
    display: flex;
    gap: 9px;
    align-items: center;
  }

  #portfolio {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    height: 80px;
    text-align: center;
    border-radius: 10px;
  }

  #skills {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    background-color: #171f26;
  }
  #box5 {
    width: 330px;
    gap: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #end {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }
}
